**/*.o
*.a
*.so
.idea
ghost-build.log
CMakeLists.txt
/fenster.exe
/fenster.bin
/fenster
test_runner
platform/windows-mingw-sim/sysroot/**
!platform/windows-mingw-sim/sysroot/keep.txt
platform/macos-sdl-sim/sysroot/**
!platform/macos-sdl-sim/sysroot/keep.txt
